.footer {
    width: 100%;
    padding: 10px;

    &__section {
        float: left;

        &--logo {
            width: 20%;
        }

        &--copyright {
            width: 40%
        }

        &--social-media {
            width: 20%;
        }

        &--contact {
            width: 20%;
        }
    }
}