.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-blue;
    color: white;
    text-align: center;
    height: $footer-height;

    &__section {
        float: left;

        &--logo {

            img {
                max-width: 65%;
                max-height: 100px;
            }
        }

        &--social-media {
            i {
                float: left;
                font-size: 30px;
                height: $social-media-height;
                line-height: $social-media-height;
            }
        }

        &--copyright {
            line-height: $footer-height;
        }
    }
}